<div class="container">
<div class="row">
    <center><h2>The Apprentice Team</h2>
      <ul id="filterOptions" class="nav nav-pills" style="margin-left:150px;">
        <li class="active"><a href="#" class="all">Full Team</a></li>
        <li><a href="#" class="president">Presidents</a></li>
        <li><a href="#" class="marketing">Marketing</a></li>
      </ul>

      <div id="teamHolder">
      <% @execs = Exec.all %>

      <% @execs.each do |exec| %>

      <% if exec.team == "president" %>
      <div class="item president col-sm-3" >

      <% else %>

      <div class="item marketing col-sm-3" >

      <% end %>
        <div class="thumbnail">
          <div class="caption">
            <h4><%= exec.exec_name %></h4>
            <p><%= exec.program %></p>
            <p>Helping with: </p>
            <ul>

            <!-- split responsibilities "separated by commas" -->
              <% exec.responsibilities.split(',').each do | r| %>
              <li><%= r %></li>
              <% end %>
            </ul>
            </div>
            <%= image_tag(exec.picture, :class => 'img-responsive')%>
          </div>
          <h3><%= exec.exec_name %></h3>
          <h4><%= exec.program %></h4>
</div>

        <% end %>
</div>
</center>
</div>
</center>
</div>
</div>