<h1>Listing execs</h1>

<table>
  <thead>
    <tr>
      <th>Exec name</th>
      <th>Team</th>
      <th>Responsibilities</th>
      <th>Program</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @execs.each do |exec| %>
      <tr>
        <td><%= exec.exec_name %></td>
        <td><%= exec.team %></td>
        <td><%= exec.responsibilities %></td>
        <td><%= exec.program %></td>
        <td><%= link_to 'Show', exec %></td>
        <td><%= link_to 'Edit', edit_exec_path(exec) %></td>
        <td><%= link_to 'Destroy', exec, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exec', new_exec_path %>
