<p id="notice"><%= notice %></p>

<p>
  <strong>Exec name:</strong>
  <%= @exec.exec_name %>
</p>

<p>
  <strong>Team:</strong>
  <%= @exec.team %>
</p>

<p>
  <strong>Responsibilities:</strong>
  <%= @exec.responsibilities %>
</p>

<p>
  <strong>Program:</strong>
  <%= @exec.program %>
</p>

<%= link_to 'Edit', edit_exec_path(@exec) %> |
<%= link_to 'Back', execs_path %>
