<h1 class="text-center">Listing cases</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Sponsor</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cases.each do |c| %>
      <tr>
        <td><%= c.title %></td>
        <td><%= c.sponsor %></td>
        <td><%= c.description %></td>
        <td><%= link_to 'Show', c %></td>
        <td><%= link_to 'Edit', edit_case_path(c) %></td>
        <td><%= link_to 'Destroy', c, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Case', new_case_path %>
