<p id="notice"><%= notice %></p>


<h2><%= @case.sponsor %> Case: <%= @case.title %></h2>

<p>  <%= @case.description %></p>

<%= link_to 'Edit', edit_case_path(@case) %> |
<%= link_to 'Back', cases_path %>


<p> Submit Case
<%= form_for @case, :url => cases_path, :html => { :multipart => true } do |form| %>
  <%= form.file_field :document %>
<% end %></p>