<%= form_for(@feedback) do |f| %>
  <% if @feedback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>

      <ul>
      <% @feedback.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :receiver %><br>
    <%= f.text_area :receiver, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :good_comments %><br>
    <%= f.text_area :good_comments, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :improvement_comments %><br>
    <%= f.text_area :improvement_comments, class: "form-control"  %>
  </div>
  <div class="field">
    <%= f.label :leadership %><br>
    <%= f.number_field :leadership, class: "form-control", in: 1...11  %>
  </div>
  <div class="field">
    <%= f.label :creativity %><br>
    <%= f.number_field :creativity, class: "form-control", in: 1...11   %>
  </div>
  <div class="actions">
    <%= f.submit "Give Feedback", :class => 'btn btn-success'  %>
  </div>
<% end %>
