<div class="container">
<h1 class="text-center">All Delegates</h1>


<% Delegate.all.each do |d| %>
<div class="block-update-card">
	<div class="update-card-body">
	<div class="col-md-10">
		<h3><%= d.fullname %> <small><%= d.delegate_program %></small></h3>
		</div>

		<div class="col-md-2">
		<ul class="list-inline">
			

			<% if d.facebook != '' %>
				<li><%= link_to d.facebook, :target => '_blank', method: :put do %>
				<%= fa_icon "facebook 2x" %>
				<% end %>
				</li>
				

<% end %>
<% if d.twitter != '' %>
				<li><%= link_to d.twitter, :target => '_blank', method: :put do %>
					<%= fa_icon "twitter 2x" %>
					<% end %>
					</li>
					

<% end %>
<% if d.linkedin != '' %>
					<li><%= link_to d.linkedin, :target => '_blank', method: :put do %>
						<%= fa_icon "linkedin 2x" %>
						<% end %>
						</li>
						
<% end %>
					</ul>
					</div>
				</div>
			</div>

			<% end %>

			</div>