<!-- <h1><%= current_delegate.fullname %></h1>
<hr>-->

<% if current_delegate.linkedin == '' or current_delegate.facebook == '' or current_delegate.twitter == '' %>
<div class="alert alert-warning" role="alert">
	
	<p>Pssstttt <%= current_delegate.fullname %>, you have yet to fill out your social info.  Fill it out so other delegates
	can connect with you after the conference. :)</p>

	<%= link_to "Edit your social networks", edit_delegate_registration_path %>

</div>

<% end %>


<% @num_finished_cases = Case.where(:case_sponsor => true).where(:done => true).count %>

<% @num_finished_cases = @num_finished_cases = 0 ? -1 : @num_finished_cases %>





<h2 class="text-center">Overview</h2>
    <div class="row">

    <%= link_to "#analytics" do %>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <%= fa_icon "bar-chart 5x" %>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge"><%= current_delegate.total_score %></div>
                                        <div>Total Score</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <% end %>

   <%= link_to "#analytics" do %>
 <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <%= fa_icon "diamond 5x" %>
                                    </div>
                                    <div class="col-xs-9 text-right">

                                        <div class="huge">fadsf dfds fdfd</div>

                                        <div>Groups</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
<% end %>

<%= link_to new_feedback_path do %>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <%= fa_icon "exclamation 5x"%>
                                    </div>
                                    <div class="col-xs-9 text-right">

                                        <div class="huge"><%= Delegate.pending_feedback(current_delegate) %></div>
                                        <div>Pending Feedback</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                <% end %>   

<%= link_to feedbacks_path do %>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <%= fa_icon "comments 5x"%>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge"><%= Delegate.received_feedback(current_delegate) %></div>
                                        <div>Feedback Received</div>
                                    </div>
                                </div>
                            </div>

                            </div>
                            </div>

                            <% end %>
                            </div>
<h2 class="text-center">Cases</h2>

<div class="col-lg-12">
<% Case.where(:case_sponsor => true).each do |c| %>

<%= link_to case_path(c) do %>
<div class="col-md-2">

<%= image_tag(c.sponsor_logo, :class => 'img-responsive') %>
<h4><%= c.sponsor%></h4>

</div>
<% end %>

<% end %>

<%= link_to case_winners_path do %>
<div class="col-md-2">

<%= image_tag("http://placehold.it/300x300", :class => 'img-responsive') %>
<h4> Case Winners </h4>
</div>
<% end %>

</div>

<hr>

<div id="analytics">
<h2 class="text-center">Personal Analytics</h2>

<div class="col-md-6">
<div id="individual_attributes_chart" style="width:100%;height:100%;"></div> 
</div>
<div class="col-md-6">
<div id="case_attributes_chart" style="width:100%;height:100%;"></div> </div>

<div class="col-md-6">
<div id="point_breakdown_by_source" style="width:100%;height:100%;"></div> </div>

<div class="col-md-6">
<div id="points_each_case" style="width:100%;height:100%;"></div>
</div>
</div>


<% @avg_individual_scores = Delegate.average_delegate_attribute_scores(current_delegate.id) %>

<% @avg_individual_scores.each do |s| %>
<% s = s.round(2) %>
<% end %>

<!-- GBTT Put this in JS -->
<script type="text/javascript" charset="utf-8">

$(function(){
    new Highcharts.Chart({

        chart:{
            renderTo: "individual_attributes_chart",
            type: "spline"
        },

        title:{
            text: "Your Attributes"
        },

        xAxis:{
            categories: ["Leadership", "Creativity", "Business Sense", "Presentation", "Contribution"]
        },

        yAxis:{
            text: "Score",
            min: 0,
            max: 10,
            gridLineColor: 'transparent',
            title: {
                text: 'Score'
            }
        },
        credits: {
      enabled: false
  },

        series:[{
            name: "Current",

            
            data: [<%= @avg_individual_scores[0] %>, <%= @avg_individual_scores[1] %>, <%= @avg_individual_scores[2] %>, <%= @avg_individual_scores[3] %>,<%= @avg_individual_scores[4] %>]
        }, {name: "Estimation",
 data: [<%= current_delegate.estimated_leadership / @num_finished_cases %>, <%= current_delegate.estimated_creativity / @num_finished_cases %>, <%= current_delegate.estimated_business_sense / @num_finished_cases %>, <%= current_delegate.estimated_presentation_skills / @num_finished_cases%>,<%= current_delegate.estimated_overall_contribution / @num_finished_cases %>]}]

    });

});

</script>

<% @avg_case_scores = Delegate.average_case_eval_scores(current_delegate.id) %>

<% @avg_case_scores.each do |s| %>
<% s = s.round(2) %>
<% end %>

<script type="text/javascript" charset="utf-8">

$(function(){
    new Highcharts.Chart({

        chart:{
            renderTo: "case_attributes_chart",
            type: "spline"
        },

        title:{
            text: "Case Attributes"
        },

        xAxis:{
            categories: ["Impact", "Feasibility", "Innovation", "Presentation", "Overall"]
        },

        yAxis:{
            text: "Score",
            min: 0,
            max: 10,
            gridLineColor: 'transparent',
            title: {
                text: 'Score'
            }
        },
        credits: {
      enabled: false
  },

        series:[{
            name: "Current",
            data: [<%= @avg_case_scores[0] %>, <%= @avg_case_scores[1] %>, <%= @avg_case_scores[2] %>, <%= @avg_case_scores[3] %>, <%= @avg_case_scores[4] %>]
        }]

    });

});

</script>


<% @points_by_source = Delegate.total_points_by_source(current_delegate.id) %>
<% @max_scores = Delegate.max_values %> 

<!-- GBTT: temp fix for score update delay -->
<script type="text/javascript" charset="utf-8">
$(function(){
    new Highcharts.Chart({
        chart:{
            renderTo: "point_breakdown_by_source",
            type: "spline"
        },
        title:{
            text: "Point Breakdown By Source"
        },
        xAxis:{
            categories: ["Peer Evaluation", "Executive Evaluation", "Case Evaluation", "Case Position"]
        },
        yAxis:{
            text: "Score",
            min: 0,
            max: <%= @max_scores[3]%>,
            gridLineColor: 'transparent',
            title: {
                text: 'Score'
            }
        },
        credits: {
      enabled: false
  },

        series:[{
            name: "Your Points",

            
            data: [<%= @points_by_source[0] %>, <%= @points_by_source[1] %>, <%= @points_by_source[2] %>, <%= @points_by_source[3] %>,<%= @points_by_source[4] %>]
        }, {name: "Max",
 data: [<%= @max_scores[0]%>,<%= @max_scores[1]%>,<%= @max_scores[2]%>,
 <%= @max_scores[3]%>]}]

    });

});

</script>

<% @case1_points = Delegate.total_points_by_case(current_delegate.id, 1)%>
<% @case2_points = Delegate.total_points_by_case(current_delegate.id, 2)%>
<% @case3_points = Delegate.total_points_by_case(current_delegate.id, 3)%>
<% @case4_points = Delegate.total_points_by_case(current_delegate.id, 4)%>

<script type="text/javascript" charset="utf-8">

$(function(){
    new Highcharts.Chart({

        chart:{
            renderTo: "points_each_case",
            type: "column"
        },

        title:{
            text: "Points Achieved In Each Case"
        },

        xAxis:{
            categories: ["Case 1", "Case 2", "Case 3", "Case 4"]
        },

        yAxis:{
            text: "Score",
            min: 0,
            max: 1000,
            gridLineColor: 'transparent',
            title: {
                text: 'Score'
            }
        },
        credits: {
      enabled: false
  },plotOptions: {
            column: {
                stacking: 'normal'
            }
        },

        series:[{
            name: "Peer Score",

            
            data: [<%= @case1_points[0] %>, <%= @case2_points[0] %>, <%= @case3_points[0]  %>, <%= @case4_points[0] %>]
        },{
            name: " Executive Score",

            
            data: [<%= @case1_points[1] %>, <%= @case2_points[1] %>, <%= @case3_points[1]  %>, <%= @case4_points[1] %>]
        },{
            name: " Case Evaluation Score",

            
            data: [<%= @case1_points[2] %>, <% @case2_points[2] %>, <%= @case3_points[2]  %>, <%= @case4_points[2] %>]
        },{
            name: " Case Position Score",

            
            data: [<%= @case1_points[3] %>, <%= @case2_points[3] %>, <%= @case3_points[3]  %>, <%= @case4_points[3] %>]
        }


        ]

    });

});

</script>
</div>
