<!DOCTYPE html>
<html>
<head>
  <title>UW Apprentice | Innovate, Impact, Experience</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <!--<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>-->

    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <%= link_to root_path do |l| %>
          <%= image_tag("logo-home.png", class: 'navbar-brand', :style => 'width:40px') %>

          <% end %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Team", team_path %></li>
            <li><%= link_to "Blog", stay_tuned_path %></li>

            <% if delegate_signed_in? %>
            <li><%= link_to "Logout", destroy_delegate_session_path, :method => :delete %></li>

            <% else %>
            <li><%= link_to "Login", new_delegate_session_path %></li>

            <% end %>
          </ul>
        </div>
      </div>
      </div>
    </nav>


<div class="pill-wrapper" style="display:inline-block" >

</div>
        
    <center><ul class="nav nav-pills delegate-nav" style="margin-left:120px;">

<%= content_tag(:li, link_to("Main", portal_path), class: cp(portal_path)) %>

  <%= content_tag(:li, link_to("Host Info", hosts_path), class: cp(hosts_path)) %>
   <%= content_tag(:li, link_to("Intinerary", itinerary_path), class: cp(itinerary_path)) %>

   <%= content_tag(:li, link_to("Delegates", all_delegates_path), class: cp(all_delegates_path)) %>
    <%= content_tag(:li, link_to("Profile", edit_delegate_registration_path), class: cp(edit_delegate_registration_path)) %>
   
</ul></center>
</div>
<!--
    <div class="container-fluid">
     <div class="row">
     <div id="wrapper">
       <div class="col-sm-3 col-md-2 sidebar">
       <div class="container">
        <ul class="nav nav-sidebar">
          <li>
          <div class="sidebar-item">

          <%= fa_icon "tachometer" %> | 
          <%= link_to "Main", portal_path %>
          </div>
          </li>
          <li>

          <div class="sidebar-item">
<%= fa_icon "info" %> | 
          <%= link_to "Host Info", hosts_path %>
</div>
          </li>

          
          <li>
<div class="sidebar-item">
<%= fa_icon "users" %> | 
          <%= link_to "Delegates", all_delegates_path %>
</div>
          </li>
          <li>
<div class="sidebar-item">
<%= fa_icon "user" %> | 
          <%= link_to "Profile", edit_delegate_registration_path %>

          </div>
          </li>


          <li>
<div class="sidebar-item">

<%= fa_icon "info-circle" %> | 
          <a href="javascript:;" data-toggle="collapse" data-target="#info">Feedback <%= fa_icon 'caret-down' %></a>
            <ul id="info" class="collapse" style="list-style-type:none;"
              <li>
                <%= link_to "FAQs", faqs_path %>
              </li>
              <li>
                <%= link_to "Intinerary", itinerary_path %>
              </li>
            </ul>
            </div>
          </li> 

        </ul>-->


 
    <!--<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">    -->

    <div class="col-md-12" style="padding-top:70px;">
      <%= yield %>
    </div>
  </div>
</div>


</body>
</html>
